* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 300%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100vh;
  width: 100%;
  background: white;
  color: white;
  font-family: Helvetica;
}
a {
  color: #fcfa97;
}

.app, #app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.game-container {
  flex: 5 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game{
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.game-row {
  flex: 1 1 0;
  display: flex;
}

.game-item {
  border: 0.25px solid black;
  flex: 1 1 0;
}

.game-live-cell {
  background-color: black;
}

.game-dead-cell {
  background-color: palevioletred;
}
.sidebar {
  background-color: black;
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
}
.my-color-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  font-size: 0.3em;
  margin: 1%;
}
.my-color-title{
  flex: 1 1 0;
  display: flex;
  align-items: center; 
}
.my-color {
  flex: 1 1 0;
  background-color: palevioletred;
}
.shape{
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}
.shape-row {
  flex: 1 1 0;
  display: flex;
}

.shape-item {
  border: 0.25px solid black;
  flex: 1 1 0;
}
.shape-add{
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shape-live-cell {
  background-color: black;
}

.shape-dead-cell {
  background-color: palevioletred;
}
.shape-add-input{
  flex: 5 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newMap{
  flex: 6 1 0;
  display: flex;
  flex-direction: column;
}
.shape-input {
  background-color: white;
  font-size: 0.7em;
  height: 20%;
  width: 100%;
  color: black;
}
